{% from "_render_field.html" import render_field %}
{% extends 'base.html' %}
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
            <h2 class="account-heading"> {{ current_user.username }} </h2>
            <p class="text-secondary"> {{ current_user.email }} </p>
        </div>
    </div>
    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
        <form class="mx-1 mx-md-4" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="d-flex flex-row align-items-start mb-4">
                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                    {{ render_field(form.username, class='form-control') }}
                </div>
            </div>

            <div class="d-flex flex-row align-items-start mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                    {{ render_field(form.email, class='form-control') }}
                </div>
            </div>

            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.error %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                {{ render_field(form.submit, class='btn btn-primary btn-lg', value='Update') }}
            </div>
        </form>
    </div>
</div>

{% endblock %}